
doctype html
html(lang='en')
    script(src='https://www.gstatic.com/firebasejs/3.4.1/firebase.js')
    script.
        // Initialize Firebase
        var config = {
        apiKey: "AIzaSyBZ-Yf-NP_gSj16lmNk6WL3wTfnHHRRk04",
        authDomain: "challenge-ninja.firebaseapp.com",
        databaseURL: "https://challenge-ninja.firebaseio.com",
        storageBucket: "challenge-ninja.appspot.com",
        messagingSenderId: "348191666052"
        };
        firebase.initializeApp(config);

    head
    meta(name='theme-color', content='#CC0000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#CC0000')

    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='styles.css', rel='stylesheet', type='text/css')
    script(type='text/javascript').

        if (document.location.href == "http://localhost:3000/submit"){
            setTimeout(function(){
                window.location = '/';
            }, 5000)
        } else {
            setTimeout(function(){
                window.location = '/';
            }, 20000);
        }
  body
    #main
        h2=name
        img(src=imgurl)
        form(action = action, method = 'post' id = 'guess')
            unless disabled
              input(placeholder="Your guess here" name='guess' pattern="[0-9]+" id="price-input")
            input(type="hidden" name="price" value=price)
            input(type="hidden" name="imgurl" value=imgurl)
            button(type="submit") Next
            
        setTimeout(function(){
            window.location = '/';
        }, 20000)
            if (document.location.href == "http://localhost:3000/submit"){
                setTimeout(function(){
                    window.location = '/';
                }, 5000)
            }


    body
        button#quickstart-sign-in.mdl-button.mdl-js-button.mdl-button--raised(name='signin') Sign in
        #main
            h2=name
            img(src=imgurl)
            form(action = action, method = 'post' id = 'guess')
                input(placeholder="Your guess here" name='guess' pattern="[0-9]+" id="price-input" disabled=disabled)
                input(type="hidden" name="price" value=price)
                input(type="hidden" name="imgurl" value=imgurl)
                button(type="submit") Next

        p=results
        .quickstart-user-details-container
            | Firebase sign-in status: 
            span#quickstart-sign-in-status Unknown
            div
                | Firebase auth 
                code currentUser
                |  object value:
            pre.


    script(type='text/javascript').
        function toggleSignIn() {
            if (firebase.auth().currentUser) {
                firebase.auth().signOut();
            } else {
                firebase.auth().signInAnonymously().catch(function(error) {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    if (errorCode === 'auth/operation-not-allowed') {
                        alert('You must enable Anonymous auth in the Firebase Console.');
                    } else {
                        console.error(error);
                    }
                });
            }
            document.getElementById('quickstart-sign-in').disabled = true;
        }

        function initApp() {
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    var isAnonymous = user.isAnonymous;
                    var uid = user.uid;
                    document.getElementById('quickstart-sign-in-status').textContent = 'Signed in';
                    document.getElementById('quickstart-sign-in').textContent = 'Sign out';
                    document.getElementById('quickstart-account-details').textContent = JSON.stringify(user, null, '  ');
                } else {
                    document.getElementById('quickstart-sign-in-status').textContent = 'Signed out';
                    document.getElementById('quickstart-sign-in').textContent = 'Sign in';
                    document.getElementById('quickstart-account-details').textContent = 'null';
                }
                document.getElementById('quickstart-sign-in').disabled = false;
            });
            document.getElementById('quickstart-sign-in').addEventListener('click', toggleSignIn, false);
        }
        window.onload = function() {
            initApp();
        };